<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935848006321-su1ockcku25p3si01glavkpg4n98mn1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935848006321-su1ockcku25p3si01glavkpg4n98mn1j</string>
	<key>API_KEY</key>
	<string>AIzaSyCD0uXfXCQ94i8xTx7jbdF23flA1OO7B9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>935848006321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.xaviercastro.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinder-b00c3</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-b00c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935848006321:ios:ba38f88b90f4eec6</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-b00c3.firebaseio.com</string>
</dict>
</plist>